
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}

p {
  line-height: 1.5;
  color: hsl(211, 10%, 45%);
}

.app {
  padding: 0 1rem;
  max-width: 75ch;
  margin: auto;
}

.user-info-box {
  display: flex;
  gap: 1rem;
}

@media screen and (min-width: 1440px) {
  .user-info-box {
    justify-content: flex-start;
  }
}

.user-img {
  height: 2rem;
  width: 2rem;
}

.content {
  margin-top: 1rem;
}

.intro {
  margin-top: 5px;
  display: flex;
  gap: 1rem;
}

.counter-reply-buttons {
  margin-top: .5rem;
  display: flex;
}

@media screen and (min-width: 1440px) {
  .counter-reply-buttons {
    display: none;
  }
}


.counter {
  color: hsl(238, 40%, 52%);
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: .75rem;
  padding-top: .5rem;
  box-sizing: content-box;
  background-color: hsl(228, 33%, 97%);
  border-radius: 8px;
  align-self: flex-start;
  margin-right: auto;
}

@media screen and (min-width: 1440px) {
  .counter {
    display: none;
  }
}

.counter-2 {
  color: hsl(238, 40%, 52%);
  font-weight: 500;
  align-items: center;
  gap: 1rem;
  padding: .75rem;
  padding-top: .5rem;
  box-sizing: content-box;
  background-color: hsl(228, 33%, 97%);
  border-radius: 8px;
  align-self: flex-start;
  
}

@media screen and (max-width: 1439px) {
  .counter-2 {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .counter-2 {
    display: flex;
    flex-direction: column;
  }
}

.counter-2 > img:hover {
  transition: ease-in-out 200ms;
  background-color: #5660BC;
  cursor: pointer;
}


.counter > img {
  padding: 4px;
}

.counter > img:hover {
  transition: ease-in-out 200ms;
  background-color: #5660BC;
  cursor: pointer;
}

.reply {
  margin-right: .5rem;
}

.reply-box {
  margin-top: 10px;
  color: hsl(238, 40%, 52%);
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
}

@media screen and (min-width: 1439px) {
  .reply-box {
    display: none;
  }
}



.reply-box-2 {
  margin-top: 10px;
  color: hsl(238, 40%, 52%);
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
  margin-left: 48%;
}

.reply-box-2:hover {
  opacity: .5;
}

@media screen and (max-width: 1439px) {
  .reply-box-2 {
    display: none;
  }
}

.reply-box-3 {
  margin-top: 10px;
  color: hsl(238, 40%, 52%);
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40%;
}

.reply-box-3:hover {
  opacity: .5;
}

@media screen and (max-width: 1439px) {
  .reply-box-3 {
    display: none;
  }
}

.reply-box:hover {
  opacity: .5;
}

.date {
  color: hsl(211, 10%, 45%);
}

.username {
  margin-right: -2%;
  font-size: 16px;
}

.target-area {
  border-radius: 5px;
  padding: 5%;
  border: 1px solid hsl(223, 19%, 93%)
}

@media screen and (min-width: 1440px) {
  .target-area {
    display: none;
  }
}

.target-area2 {
  border-radius: 5px;
  padding: 1%;
  border: 1px solid hsl(223, 19%, 93%)
}

@media screen and (max-width: 1439px) {
  .target-area2 {
    display: none;
  }
}

.delete-edit {
  height: 15px;
  width: 15px;
  margin-top: 2%;
  cursor: pointer;
  margin-right: 7px;
}

.reply-action {
  cursor: pointer;
}

.reply-action:hover {
  opacity: .5;
}

.delete-box {
  margin-top: 10px;
  margin-left: 10px;
  color: rgb(237, 100, 104);
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
}

.edit-box {
  margin-top: 10px;
  margin-left: 10px;
  color: hsl(238, 40%, 52%);
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
}

.comment-actions {
  display: flex
}

.comment-actions-2 {
  display: flex;
}


@media screen and (max-width: 1439px) {
  .comment-actions-2 {
    display: none;
  }
}

.reply-container {
  border-left: 2px solid hsl(223, 19%, 93%);
  padding-left: 15px;
}

@media screen and (min-width: 1440px) {
  .reply-container {
    padding-left: 40px;
    margin-left: 35px;
  }
}